@model IEnumerable<TrashCollectorProject.Models.JoinCustomerAddress>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";

}
<h1>View</h1>
<div>
    <a asp-action="Index" asp-route-date="Sunday">Sunday    </a>
    <a asp-action="Index" asp-route-date="Monday">Monday    </a>
    <a asp-action="Index" asp-route-date="Tuesday">Tuesday  </a>
    <a asp-action="Index" asp-route-date="Wednesday">Wednesday  </a>
    <a asp-action="Index" asp-route-date="Thursday">Thursday    </a>
    <a asp-action="Index" asp-route-date="Friday">Friday    </a>
    <a asp-action="Index" asp-route-date="Saturday">Saturday    </a>
    
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVM.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVM.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVM.AccountBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVM.PickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVM.OneTimePickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVM.SuspendStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVM.SuspendEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressVM.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressVM.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressVM.Longitude)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerVM.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerVM.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerVM.AccountBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerVM.PickUpDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerVM.OneTimePickUp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerVM.SuspendStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerVM.SuspendEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressVM.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressVM.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressVM.Longitude)
                </td>
                <td>
                    <a asp-action="CustomerDetails" asp-route-id="@item.CustomerVM.Id">Details</a> |
                    <a asp-action="PickComplete" asp-route-id="@item.CustomerVM.AddressId">Completed</a>
                </td>
            </tr>
        }
    </tbody>
</table>
